{% extends "base.html" %}
{% block title %}概览{% endblock %}
{% block page_title %}系统概览{% endblock %}

{% block content %}
<div class="row">
    {% if is_admin %}
    <div class="col-lg-4 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{{ user_count }}</h3>
                <p>用户总数</p>
            </div>
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
            <a href="/admin/users" class="small-box-footer">查看详情 <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-4 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>{{ file_count }}</h3>
                <p>文件总数</p>
            </div>
            <div class="icon">
                <i class="fas fa-folder-open"></i>
            </div>
            <a href="/admin/files" class="small-box-footer">查看详情 <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    {% else %}
    <div class="col-lg-4 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{{ file_count }}</h3>
                <p>我的文件</p>
            </div>
            <div class="icon">
                <i class="fas fa-folder-open"></i>
            </div>
            <a href="/admin/users/{{ user_id }}" class="small-box-footer">查看详情 <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    {% endif %}
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-info-circle mr-1"></i> 快捷操作</h3>
            </div>
            <div class="card-body">
                <a href="/admin/files" class="btn btn-primary mr-2">
                    <i class="fas fa-folder-open mr-1"></i> 文件管理
                </a>
                {% if request.session.get('admin_is_admin') %}
                <a href="/admin/users" class="btn btn-success">
                    <i class="fas fa-users mr-1"></i> 用户管理
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
